//Solo para /add-participants

@import './main.scss';
@import './mixins.scss';


#PreguntarNombres {

    //Tamaño del grid
    height: 90vh;

    width: 100%;


    //Grid
    display: grid;

    grid-template-areas: "Anyadir Participantes""Botones Participantes""Anuncios Participantes";

    grid-template-columns: 1.5fr 2fr;

    grid-template-rows: 1fr 1fr 8fr;

    gap: 2vmax 6vmax;

    justify-items: end;

    align-items: end;





    form {

        grid-area: Anyadir;
        padding: 2vmax 0 0 1vmax;
        place-self: end;

        #persona {

            margin-top: 3vh;

            width: 17vmax;

            margin-right: 4vmin
        }

    }

    #botones-control {

        .Boton-Continuar {

            justify-self: start;
        }

        display: flex;

        justify-content: flex-start;

        padding-left: 1vmax;

        align-self: start;
        justify-self: start;

        gap: 4vw;
        width: 100%;

        grid-area: Botones;

    }


    #participantes {

        //Elimina el margen incial con el que viene la app

        h2 {

            margin: 0;
        }

        grid-area: Participantes;

        justify-self: start;
        margin-top: 2vmax;

        align-self: center;

        ul {

            @include columns(2);

            column-fill: auto;

            height: 80vh;

            line-height: 5vmin;

            li {

                cursor: pointer;

                margin: 0 3vmax;
            }

            li:hover {

                color: red;

                font-size: $font_size + 0.5vmin;

                text-decoration: line-through;
                text-decoration-thickness: 0.5vmin;
            }

        }

    }




    @media (max-width:801px) {


        grid-template-areas: "Anyadir Anuncios ""Participantes Anuncios ""Botones Anuncios";

        grid-template-columns: 4fr 2fr;

        grid-template-rows: 1fr 10fr 1fr;

        align-items: start;




        form,
        #participantes,
        #botones-control {

            align-self: start;

            padding-left: 2vmax;

        }



        #participantes {

            height: auto;

            ul {

                @include columns(1);

                height: auto;

                line-height: 3vmin;
            }



        }



    }

}